body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

#root {
  height: 100vh;
}

select {
  background-color: $NEUTRAL_COLOR;
  border-radius: 4px;
  cursor: pointer;
}