body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $PRIMARY_COLOR;
}

select {
  background-color: $NEUTRAL_COLOR;
  border-radius: 4px;
  cursor: pointer;
}

.mr-2 {
  margin-right: 8px;
}