@import '../variables';

.button {
  width: 220px;
  padding: 8px 0;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  &--filled {
    background-color: $NEUTRAL_COLOR;
    color: $PRIMARY_COLOR;
  }
  &--outlined {
    background-color: $PRIMARY_COLOR;
    border: 1px solid $NEUTRAL_COLOR;
    color: $NEUTRAL_COLOR;
  }
}