.button {
  width: 220px;
  padding: 8px 0;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  &:focus {
    border-width: 4px;
    border-style: outset;
    box-shadow: 1px black;
  }
  &--filled {
    background-color: $NEUTRAL_COLOR;
    color: $PRIMARY_COLOR;
  }
  &--outlined {
    background-color: $PRIMARY_COLOR;
    border: 1px solid $NEUTRAL_COLOR;
    color: $NEUTRAL_COLOR;
  }
  &--disabled {
    cursor: default;
  }
}

.icon-button {
  height: 45px;
  width: 45px;
  background-color: $PRIMARY_COLOR;
  border-radius: 50%;
  cursor: pointer;

  &--disabled {
    cursor: default;
  }
  
  &__inside {
    height: 100%;
    width: 100%;
    color: $NEUTRAL_COLOR;
  }

  &__text {
    color: $NEUTRAL_COLOR;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
  }
}