.ce {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__button {
        margin: 0 8px 8px;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $NEUTRAL_COLOR;
        border-radius: 4px;
        padding: 8px;
        margin: 8px;
        &__text {
            display: block;
            padding: 2px;
            color: black;
        }
        &__icon {
            margin: 0px 16px;
        }
    }
    &__input { 
        display: grid;
        grid-template-columns: min-content auto 45px 50px;
        align-items: flex-end;
        margin-top: 8px;
    }
}
