.modal {
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  background-color: $NEUTRAL_COLOR;
  z-index: 99999;
  &__background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($PRIMARY_COLOR, 0.3);
  }
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__title {
    color: $PRIMARY_COLOR;
    margin-top: 12px;
  }
  &__icon {
    height: 28px;
    width: 28px;
    padding: 2px;
    border-color: $ERROR_COLOR;
    background-color: $NEUTRAL_COLOR;
  }
  &__text {
    font-size: 20px;
    color: $PRIMARY_COLOR;
    margin-top: 0;
    &--inline {
      display: inline;
    }
  }
  &__file {
    &-name {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      padding: 12px 16px;
      border-radius: 8px;
      color: $PRIMARY_COLOR;
      background-color: rgba(#347, 0.2);
      border: 2px solid rgba($PRIMARY_COLOR, 0.5);
    }
    &-icon {
      color: $PRIMARY_COLOR;
      width: 16px;
      height: 16px;
      &--background {
        padding: 0;
        margin-right: 8px;
        background: none;
        border: none;
        height: 20px;
        width: 20px;
      }
    }
  }
  &__buttons {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    &--row {
      margin-top: 0;
      flex-direction: column;
      & > * {
        width: 360px;
        margin-top: 8px;
      }
    }
  }
  &__cancel-button {
    margin-right: 20px;
    width: 120px;
  }
}
