.screen-header {
  width: 90%;
  max-width: 1800px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  &--left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__title {
    margin: 0;
    padding-left: 30px;
    color: $NEUTRAL_COLOR;
  }
}
