.diagram {
  &__graph {
    height: 90%;
    width: 100%;
    max-width: 1800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $NEUTRAL_TRANSPARENT;
    background:
      repeating-linear-gradient(to right, transparent 0  calc(50px - 2px), $NEUTRAL_TRANSPARENT calc(50px - 2px) 50px),
      repeating-linear-gradient(to bottom, transparent 0 calc(50px - 2px), $NEUTRAL_TRANSPARENT calc(50px - 2px) 50px)
      rgba($NEUTRAL_COLOR, 0.1);
  }
  &__alert {
    position: absolute;
    color: $NEUTRAL_COLOR;
    text-transform: uppercase;
    &--backgroud {
      padding: 30px 100px;
      border-radius: 8px;
      border: 2px solid darken($ALERT_COLOR, 25%);
      background-color: darken($ALERT_COLOR, 15%);
    }
  }
}